html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  scroll-behavior: smooth;
  overflow: hidden;
}

#slider {
  height: 100vh;
  width: 700vw;
}

.page {
  height: 100vh;
  width: 100vw;
  float: left;
  transition: all ease 0.5s;
  overflow: hidden;
  opacity: 0.3;
}

.arrow {
  position: absolute;
  height: 10vh;
  width: 5vw;
  top: 50vh;
  transform: translateY(-50%);
  opacity: 0.5;
  background-color: gray;
}

#left {
  left: 0px;
}

#right {
  right: 0px;
}
